.layout-style {
  min-height: 100vh;
  margin-left: 200px;
}

.sider-style {
  position: fixed;
  height: 100vh;
  left: 0;
  width: 200px;
}

.row-search-container, .row-list-container {
  padding: 16px;
}

.col-search-autocomplete {
  width: 100%;
}

.divider-search {
  margin: 0;
}
