@font-face {
  font-family: "Ubuntu";
  src: url("assets/fonts/ubuntu.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src: url("assets/fonts/nunito.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
}

p {
  font-family: "Nunito", sans-serif;
}

.ant-notification-notice {
  background-color: #000000 !important;
  border: none !important;
  border-radius: 7px;
}

.ant-notification-notice-message {
  font-weight: bold;
  color: #ffffff !important;  
}

.ant-notification-notice-description {
  color: #ffffff !important;
}

